@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
    --cor-de-fundo: #FFFFFF; /* Branco */
    --preto: #000000; /* Preto */
    --azul: #00205B; /* Azul escuro do Vasco */
    --branco: #FFFFFF;
    --botao-ativo: #00205B; /* Azul escuro do Vasco */
    --botao-inativo: rgba(0, 32, 91, 0.5); /* Azul escuro do Vasco com transparência */
    --texto-fundo: rgba(0, 32, 91, 0.3); /* Azul escuro do Vasco com transparência */
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--preto);
    font-family: 'Chakra Petch', sans-serif;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span {
    color: var(--azul);
}

.botao {
    font-family: 'Chakra Petch', sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-radius: 25px; /* Bordas mais arredondadas */
    border: none; /* Removendo bordas */
}

.botao:first-child {
    border-radius: 25px 25px 0 0; /* Arredondando apenas os cantos superiores */
}

.botao:last-child {
    border-radius: 0 0 25px 25px; /* Arredondando apenas os cantos inferiores */
}

.botoes {
    display: block;
}

.botao.ativo {
    background-color: var(--botao-ativo);
}

.abas-textos {
    background-color: var(--texto-fundo);
    padding: 40px;
    border-radius: 40px; /* Bordas mais arredondadas */
}

.aba-conteudo.ativo {
    display: block;
}

.aba-conteudo {
    display: none;
}

.aba-conteudo-titulo-principal {
    font-size: 28px;
    text-align: center;
}

.aba-conteudo-titulo-secundario {
    text-align: center;
    color: var(--azul);
    text-transform: uppercase;
}

.contador {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contador-digito {
    padding: 0 16px;
    text-align: center;
    min-width: 100px;
}

.contador-digito-numero {
    font-size: 80px;
    margin: 0;
}

.contador-digito-texto {
    color: var(--azul);
    font-size: 20px;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .botoes {
        display: flex;
    }

    .botao:first-child {
        border-radius: 25px 0 0 0; /* Arredondando apenas o canto superior esquerdo */
    }

    .botao:last-child {
        border-radius: 0 25px 0 0; /* Arredondando apenas o canto superior direito */
    }
}
